#homes{
    background-image: url("images/explore-home.jpg");
    background-size: cover;
    width: 96px;
    height: 72px;
    
}

#experiences{
    background-image: url("images/explore-experiences.jpg");
    background-size: cover;
    width: 96px;
    height: 72px;
}

#restaurants{
    background-image: url("images/explore-restaurants.jpg");
    background-size: cover;
    width: 96px;
    height: 72px;
}

#jumbotron{
    background: url("images/jumbotron.jpg");
    background-size: cover ;
    background-repeat: no-repeat ;
    width : 1131px;
    height: 300px;
}
section.hero{
    background-size: cover;


}

h5{
    padding: 20px;
}

a.button{
    margin: 5px;
}

.column{
    border-color: white;
}
